@font-face {
  font-family: "缝合怪像素";
  src: url("../static/font/缝合怪像素.ttf");
}
@font-face {
  font-family: "汇文明朝体GBKv1";
  src: url("../static/font/汇文明朝体GBKv1.001.ttf");
}
@font-face {
  font-family: "AozoraMinchoLight";
  src: url("../static/font/AozoraMinchoLight.ttf");
}
:root {
  --left-wide: 220px;
  --right-wide: 220px;
  --right-narrow: 18px;
  --gap: 0px;
  --banner-h: 260px;
  --theme-color: #d94a63;
  --shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  --header-height: 70px;
  --main-padding-left: 120px;
  --main-padding-right: 30px;
  --banner-h: 280px;
  --main-gap: 15px;
  --banner-bg: url("../../static/img/article/01/93-feiji.jpg");
  --article-font-h: "汇文明朝体GBKv1";
  --article-font-p: "黑体";
  --article-font-banner: "AozoraMinchoLight";
}
* {
  box-sizing: border-box;
}
hr {
  color: #e5e5e5;
}
.hide {
  visibility: hidden;
  display: none !important;
}
.label-font-Hei {
  font-family: "黑体";
}
.label-font-HuiWenMingChao {
  font-family: "汇文明朝体GBKv1";
}
.label-font-AozoraMinchoLight {
  font-family: "AozoraMinchoLight";
}
.label-font-FengHeGuaiXiangSu {
  font-family: "缝合怪像素";
}
body {
  margin: 0;
  font-family: system-ui, "Noto Sans", "Helvetica Neue", Arial;
  color: #111;
  background: #ffffff;
  transition: background-color 0.4s ease;
}
/*body夜晚颜色*/
body.night-mode {
  background: #202125;
  transition: background-color 0.4s ease;
}
body {
  padding-left: calc(var(--left-wide) + var(--gap));
  transition: padding 0.18s;
}
body.collapsed {
  padding-left: 0;
}
.leftbar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: var(--left-wide);
  border-right: 1px solid #e6e6e6;
  padding: 14px;
  background: #f7f7f5;
  overflow-x: hidden;
  overflow-y: auto;
  transition: width 0.18s;
  transition: background-color 0.4s ease;
}
/*侧边栏夜晚颜色*/
body.night-mode .leftbar {
  background: #292a2c;
  color: #fff;
  border-right: 1px solid #444;
  transition: background-color 0.4s ease;
}
body.collapsed .leftbar {
  width: 0px;
  padding: 0;
  border-right: none;
}
.leftvar .left-search {
  margin-top: 12px;
  padding: 10px 0 0;
}
.leftbar input {
  position: relative;
  width: calc(100% - 30px);
  padding: 12px 10px;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  background: #f7f7f7;
  transition: background-color 0.4s ease;
}
body.night-mode .leftbar input {
  background: #202125;
  color: #fff;
  border: 1px solid #444;
  transition: background-color 0.4s ease;
}
.toggle {
  display: inline-block;
  width: 24px;
  height: 32px;
  border-radius: 6px;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
.toggle:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.4s ease;
}
body.night-mode .leftbar .toggle {
  color: #444;
  transition: background-color 0.4s ease;
}
body.night-mode .leftbar .toggle:hover {
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 0.4s ease;
}
.leftbar hr {
  margin-top: 20px;
  transition: background-color 0.4s ease;
}
body.night-mode .leftbar hr {
  height: 1px;
  background-color: #444;
  border: none;
  transition: background-color 0.4s ease;
}

/*主体区域*/
.main-panel {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  max-height: var(--top-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 90;
  padding: 0 10px;
  box-shadow: var(--shadow);
  transition: background-color 0.4s ease;
}
body.night-mode .header {
  background: #292a2c;
  color: #fff;
  border-bottom: 1px solid #444;
  transition: background-color 0.4s ease;
}
.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 10px;
}
.header-left {
  flex: 1;
  overflow: hidden;
}
.header-right {
  flex-shrink: 0;
}
.top-toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  flex-shrink: 0;
  user-select: none;
}
.top-toggleBtn:hover {
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.4s ease;
}
body.night-mode .top-toggleBtn {
  color: #444;
  transition: background-color 0.4s ease;
}
body.night-mode .top-toggleBtn:hover {
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 0.4s ease;
}
.header .logo {
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #37352f;
  flex-shrink: 0;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  transition: background-color 0.4s ease;
}
body.night-mode .header .logo {
  color: #fff;
  transition: background-color 0.4s ease;
}
.header .logo:hover {
  color: var(--theme-color, #d94a63);
  transition: color 0.15s ease-in;
}
body.night-mode .header .logo:hover {
  color: var(--theme-color, #d94a63);
  transition: color 0.15s ease-in;
}
.header .title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #37352f;
  flex: 1;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
body.night-mode .header .title {
  color: #eee;
  transition: background-color 0.4s ease;
}
.header .massage,
.header .search,
.header .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.header .message {
  width: 24px;
  height: 24px;
  background: url("../static/img/svg/icon/message.svg") center center no-repeat;
  background-size: cover;
  cursor: pointer;
}

.header .search {
  width: 24px;
  height: 24px;
  background: url("../static/img/svg/icon/search.svg") center center no-repeat;
  background-size: cover;
  cursor: pointer;
}
body.night-mode .header .search {
  background: url("../static/img/svg/icon/search-night.svg") center center
    no-repeat;
  background-size: cover;
  transition: background-color 0.4s ease;
}
.header .menu {
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
  color: #37352f;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
body.night-mode .header .menu {
  color: #fff;
  transition: background-color 0.4s ease;
}
a:has(.mainPage) {
  font-style: none;
  text-decoration: none;
}
.mainPage {
  margin: 0 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #37352f;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.4s ease;
}
body.night-mode .mainPage {
  color: #fff;
  transition: background-color 0.4s ease;
}
.mainPage:hover {
  color: var(--theme-color, #d94a63);
  transition: color 0.15s ease-in;
}
body.night-mode .mainPage:hover {
  color: var(--theme-color, #d94a63);
  transition: color 0.15s ease-in;
}
main {
  flex: 1;
  padding: var(--gap);
  margin-right: 10px;
}
.next-space-page {
  margin: 0 auto;
  padding: 0 var(--main-padding-right) 0 var(--main-padding-left);
}
.page-header {
}
.page-header h1 {
  display: block;
}
.page-header .banner {
  position: relative;
  top: 0;
  height: var(--banner-h);
  width: 100%;
}
.page-header .banner .bg-cover {
  position: absolute;
  top: 0;
  left: calc(var(--main-padding-left) * -1);
  right: calc(var(--main-padding-right) * -1);
  width: auto;
  height: 75%;
  background: #db4d6d;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  z-index: -1;
}
.page-header .banner .bg-cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--banner-bg) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 0;
}
.page-header .banner .banner-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.page-header .banner .banner-title-text {
  color: #fff;
  font-family: var(--article-font-banner); /*字体*/
  font-size: 1rem;
  letter-spacing: 0.5rem;
  height: calc(var(--banner-h) * 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
.page-header .banner .banner-icon {
  margin: 15px 0 0 15px;
  font-family: "缝合怪像素";
  font-size: 7rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 5px 5px 0 #000, -5px -5px 0 #000, 5px -5px 0 #000,
    -5px 5px 0 #000;
  align-self: flex-start;
  transition: transform 0.1s ease;
  cursor: pointer;
  user-select: none;
  z-index: -1;
}
body.night-mode .page-header .banner .banner-icon {
  color: #202125;
  text-shadow: 5px 5px 0 #fff, -5px -5px 0 #fff, 5px -5px 0 #fff,
    -5px 5px 0 #fff;
  transition: background-color 0.4s ease;
}
.spacer {
  height: 15px;
}
.page-header .title {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: #37352f;
  text-shadow: 3px 3px 1px rgb(150, 150, 150);
  transition: background-color 0.4s ease;
}
body.night-mode .page-header .title {
  color: #fff;
  text-shadow: 3px 3px 1px #111;
  transition: background-color 0.4s ease;
}
.page-content {
  display: flex;
  gap: var(--main-gap);
  height: 100%;
  width: 100%;
  min-height: calc(100vh - var(--header-height) - var(--banner-h));
}
.page-content .article {
  margin-top: 15px;
  flex: 1;
  border-right: #e5e5e5 solid 3px;
  color: #37352f;
  padding-right: 3rem;
  overflow-x: hidden;
  transition: background-color 0.4s ease;
}
body.night-mode .page-content .article {
  color: #eee;
  border-right: #111 solid 3px;
  transition: background-color 0.4s ease;
}
.page-content .article .article-content h2 {
  font-size: 2rem;
  font-family: var(--article-font-h);
}
.page-content .article .article-content h3 {
  font-size: 1.3rem;
  font-family: var(--article-font-h);
}
.page-content .article .article-content p {
  text-indent: 2rem;
  line-height: 2rem;
  font-size: 1.1rem;
  font-family: var(--article-font-p);
}
.page-content .article .chapter-switcher {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
  padding: 10px 20px;
}
.small-card {
  width: 240px;
  height: 120px;
  background-color: #f7f7f5;
  border-radius: 10px;
  box-shadow: var(--shadow);
  border: none;
  transition: transform 0.1s ease;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
body.night-mode .small-card {
  background-color: #292a2c;
  color: #eee;
  transition: background-color 0.4s ease;
}
.small-card:hover {
  transform: scale(1.05) translateY(-5px);
  background: #fff;
  transition: background-color 0.4s ease;
}
body.night-mode .small-card:hover {
  background: #202125;
  transition: background-color 0.4s ease;
} /*表格样式*/
.article-content table {
  width: 100%;
  margin: 1.5rem 0;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.article-content th,
.article-content td {
  padding: 0.75rem 1rem;
  border: 1px solid var(--table-border-color, #ddd);
  text-align: left;
}

.article-content th {
  background-color: var(--table-header-bg, #f6f6f6);
  font-weight: 600;
  border-top: 3px solid var(--primary-color, #acacac);
}

.article-content tr:nth-child(even) {
  background-color: var(--table-alt-row-bg, rgba(0, 0, 0, 0.02));
}

.article-content tr:hover {
  background-color: var(--table-hover-bg, #eee);
}

.article-content tr:last-child td {
  border-bottom: 1px solid var(--table-border-color, #ddd);
}

.article-content caption {
  padding: 0.5rem 0;
  font-style: italic;
  color: var(--text-secondary-color, #666);
  caption-side: bottom;
}
/* 夜间模式 */
.night-mode .article-content table {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
}

.night-mode .article-content th,
.night-mode .article-content td {
  border-color: var(--table-dark-border-color, #444);
  color: var(--text-color-dark, #ccc);
}

.night-mode .article-content th {
  background-color: var(--table-header-dark-bg, #282828);
  border-top-color: var(--primary-color, #333);
}

.night-mode .article-content tr:nth-child(even) {
  background-color: var(--table-alt-row-dark-bg, rgba(255, 255, 255, 0.03));
}

.night-mode .article-content tr:hover {
  background-color: var(--table-hover-dark-bg, #1a1a1a);
}

.night-mode .article-content caption {
  color: var(--text-secondary-dark-color, #888);
}
.night-mode .article-content tr:last-child td {
  border-bottom: 1px solid var(--table-border-color, #1a1a1a);
}
/*END*/
/*代码块样式pre-code*/
pre[class*="language-"] {
  background: 999;
  padding: 1rem;
}

/* 针对带有行号的 pre 标签 */
/* pre.line-numbers {
  background: #272822;
} */

/* 如果 Prism 的 toolbar 覆盖了你的背景色，你可能需要调整 */
.prism-toolbar {
  background-color: transparent !important; /* 让工具栏背景透明，或者设为与代码块背景一致 */
  color: #f8f8f2;
}

/* 修改行号区域的背景 */
/* Prism 默认行号是叠加在主背景色上的，所以通常修改 pre 的背景即可 */
.line-numbers .line-numbers-rows {
  /* background-color: #3e3e3e;
  border-right: 1px solid #444; */
}
/*END*/
.page-content .rightbar {
  width: var(--right-wide);
  position: sticky;
  top: var(--header-height);
  right: 0;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  z-index: 100;
  transition: width 0.18s;
}
.page-content .rightbar.collapsed {
  width: var(--right-narrow);
}
.page-content .rightbar .right-toggleBtn {
  color: #333;
  font-weight: bolder;
  cursor: pointer;
  user-select: none;
}
.night-mode .page-content .rightbar .right-toggleBtn {
  color: #eee;
  cursor: pointer;
}
.dictionary {
  list-style: none;
  padding: 8px 0;
  margin: 12px 0 0 0;
  overflow-y: auto;
}
.dictionary a {
  display: block;
  padding: 6px 8px;
  border-radius: 6px;
  text-decoration: none;
  color: #111;
  margin-bottom: 10px;
}
.dictionary a.active,
.dictionary a:hover {
  background: #f0f0f0;
  transition: background-color 0.4s ease;
}
body.night-mode .dictionary a.active,
body.night-mode .dictionary a:hover {
  background: #111;
  color: #fff;
  transition: background-color 0.4s ease;
}
.dictionary a.active .label,
.dictionary a:hover .label {
  color: #111;
  transition: background-color 0.4s ease;
}
body.night-mode .dictionary a.active .label,
body.night-mode .dictionary a:hover .label {
  color: #fff;
  transition: background-color 0.4s ease;
}
/*label再收起时隐藏*/
.dictionary .label {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  font-weight: 600;
  font-size: 0.9rem;
  transition: background-color 0.4s ease;
}
body.night-mode .dictionary .label {
  color: #eee;
  transition: background-color 0.4s ease;
}
.rightbar.collapsed .dictionary a {
  background-color: #6b7280;
  background-size: 35px 35px;
  border-radius: 50%;
  margin-top: 30px;
  transition: background-color 0.4s ease;
}
body.night-mode .rightbar.collapsed .dictionary a {
  background-color: #ddd;
  transition: background-color 0.4s ease;
}
.rightbar.collapsed .dictionary .label {
  display: none;
}
/*为h3进行微缩进*/
.dictionary .h3 .label {
  padding-left: 12px;
  font-size: 0.8rem;
  color: #333;
  font-weight: 500;
}
/*自适应*/
@media screen and (max-width: 1200px) {
  :root {
    --main-padding-left: 30px;
    --main-padding-right: 30px;
  }
}
/*日夜模式切换*/
.day-and-night {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: auto;
  margin: 20px 0 15px 5px;
}
.day-and-night input {
  display: none;
}
.day-and-night label {
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid #72cce3;
  background-color: #96dcee;
  transition: all 0.35s ease-in;
  cursor: pointer;
}
.day-and-night label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #f5eb71;
  background-color: #fffaa8;
  transition: all 0.35s ease-in;
  animation: day-and-night-switch-reverse 0.35s forwards;
}
.day-and-night label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 14px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -13px 0 0 2px #e8e8ea, -24px 14px 0 -2px #e8e8ea;
  transition: all 0.25s ease-in;
  opacity: 0;
}
.day-and-night label span {
  position: relative;
  top: 11px;
  left: 13px;
  display: block;
  width: 5px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
}
.day-and-night label span::before,
.day-and-night label span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1.5px;
  border-radius: 2px;
  background-color: #fff;
  transition: all 0.15s ease-in;
}
.day-and-night label span::before {
  top: -2px;
  left: 20px;
}
.day-and-night label span::after {
  top: 1px;
  left: 15px;
}

.day-and-night input:checked ~ label {
  border-color: #5d6baa;
  background-color: #6b7abb;
}
.day-and-night input:checked ~ label::before {
  border-color: #e8e8ea;
  background-color: #fff;
  animation: day-and-night-switch 0.35s forwards;
}
.day-and-night input:checked + label::after {
  opacity: 1;
  transition-delay: 0.25s;
}
.day-and-night input:checked + label span {
  width: 1px;
  left: 15px;
}
.day-and-night input:checked + label span::before {
  width: 1px;
  height: 1px;
  top: -6px;
}
.day-and-night input:checked + label span::after {
  width: 1px;
  height: 1px;
  top: 4px;
  left: -7px;
}
@keyframes day-and-night-switch {
  0% {
    left: 1px;
  }
  60% {
    left: 1px;
    width: 28px;
  }
  100% {
    left: 30px;
  }
}
@keyframes day-and-night-switch-reverse {
  0% {
    left: 26px;
  }
  60% {
    left: 14px;
    width: 28px;
  }
  100% {
    left: 1px;
  }
}

/*END*/
/*弹窗*/
.center.fixed {
  z-index: 1000000;
  transform: translateZ(0);
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  pointer-events: none;
}
body.popup-open .center.fixed {
  pointer-events: auto;
}

.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s ease;
  z-index: auto;
}
.popup-container.active {
  opacity: 1;
  transition: 0.4s ease;
}
.popup-container h1 {
  margin-top: 0;
}
body.popup-open {
  overflow: hidden;
}
body.popup-open video {
  visibility: hidden !important; /* 强制隐藏视频元素 */
}

/*menu弹窗*/
.popup-container .menu-popup-box {
  width: 700px;
  height: 400px;
  background: #f2f2f2;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transform: scale(0);
  transition: 0.4s ease;
  z-index: 999999;
}
body.night-mode .popup-container .menu-popup-box {
  background: #202125;
  color: #fff;
}
.popup-container.active .menu-popup-box {
  transform: scale(1);
  transition: 0.4s ease;
  /* transition-delay: 0.25s; */
}
.popup-container .menu-popup-box .pop-close-btn {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f0f0f0;
  box-shadow: 0 0 10px #37352f;
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  border: none;
  transition: background-color 0.4s ease;
}
body.night-mode .popup-container .menu-popup-box .pop-close-btn {
  background: #111;
  color: #ddd;
  transition: background-color 0.4s ease;
}
/*END*/
/*文章目录*/
.toc {
  list-style: none;
  padding: 5px 0px;
  margin: 0;
}
.leftbar .toc-module-header {
  padding: 12px 15px 5px 15px;
  color: #444;
  cursor: default;
  display: block;
}

.night-mode .leftbar .toc-module-header {
  color: #ccc;
}

/*文件夹/文件项通用样式*/
.leftbar .toc-item {
  display: flex;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
  padding: 6px 8px;
  /* margin: 2px 0; */
  text-decoration: none;
  white-space: nowrap;
  border-radius: 6px;
  color: #333;
  background-color: #f0f0f0;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  user-select: none;
}
body.night-mode .leftbar .toc-item {
  color: #ccc;
  background-color: #333;
  transition: background-color 0.2s, color 0.2s;
}
/* 文件夹头部样式*/
.leftbar .toc-folder {
  cursor: context-menu;
  font-weight: 500;
}

/* 文件链接的悬停和激活状态 */

.leftbar .toc-file.active,
.leftbar .toc-folder.active {
  background: #e8e8e6;
  /* box-shadow: var(--shadow); */
  transition: background-color 0.4s ease;
  font-weight: bold;
}
.leftbar .toc-folder:hover,
.leftbar .toc-file:hover {
  background: #e8f5ff;
  /* box-shadow: var(--shadow); */
  transition: background-color 0.4s ease;
  font-weight: bold;
}
.leftbar li.expanded > .toc-folder {
  font-weight: bold;
  background: #e8e8e6;
  transition: background-color 0.4s ease;
}
/* 夜间模式调整 */
body.night-mode li.expanded > .toc-folder {
  font-weight: bold;
  color: #fff;
  background: #202125;
}

.night-mode .leftbar .toc-folder:active,
.night-mode .leftbar .toc-file.active {
  background: #202125;
  color: #ddd;
  transition: background-color 0.4s ease;
}
.night-mode .leftbar .toc-folder:hover,
.night-mode .leftbar .toc-file:hover {
  background: #292d39;
  color: #ddd;
  transition: background-color 0.4s ease;
}
.toc a.active .label {
  color: #111;
  transition: background-color 0.4s ease;
}
body.night-mode .leftbar .toc a.active .label {
  color: #fff;
  transition: background-color 0.4s ease;
}
.toc .icon {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--theme-color, #d94a63);
  flex-shrink: 0;
  transition: background-color 0.4s ease;
}
body.night-mode .leftbar .toc .icon {
  background: #333;
  transition: background-color 0.4s ease;
}
/*label再收起时隐藏*/
.toc .label {
  color: #71706d;
  font-size: 0.9rem;
  display: inline-block;
  vertical-align: middle;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}
body.collapsed .toc .label {
  display: none;
}

/* 嵌套列表和缩进 */
/* 隐藏所有嵌套列表（默认收起） */
.leftbar .toc-nested {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
  padding: 0;
  list-style: none;
}

/* 展开状态*/
.leftbar li.expanded > .toc-nested {
  /* 设置一个足够大的高度来保证展开 */
  max-height: 1000px;
}

/* 缩进 */
.leftbar li ul.toc-nested {
  padding-left: 12px;
}

/*END*/
