.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.popBtn {
  width: 150px;
  height: 50px;
  border: 3px solid #d6d6d6;
  border-radius: 10px;
  background-color: #2c91ea;
  box-shadow: 0 0 10px rgba(66, 147, 240, 0.678);
  transition: all 0.3s ease;
}
.popBtn:hover {
  transform: scale(1.05) translateY(-2px);
}
.popBtn:active {
  transform: scale(0.9) translateY(0);
}
.popBtn p {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.popup-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
}
.popup-container.active {
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s ease;
}
.popup-container .popup-box {
  width: 500px;
  background: #f2f2f2;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transform: scale(0);
  transition: 0.4s ease;
}
.popup-container.active .popup-box {
  transform: scale(1);
  transition: 0.4s ease;
  transition-delay: 0.25s;
}

.popup-box h1 {
  color: #333;
  line-height: 1;
}
.popup-box p {
  color: #333;
  margin: 12px 0 20px;
}
.popup-box .close-btn {
  width: 100%;
  height: 45px;
  background: #6e78ff;
  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 18px;
  color: #f2f2f2;
  font-weight: 500;
  transition: 0.3s ease;
}
.popup-box .close-btn:hover {
  transform: scale(1.02);
  background: #4c56ff;
}
